* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Wix Madefor Display", sans-serif;
}

.container {
  height: 100%;
  background: #0066b2;
  color: #fff;
}

.type {
  height: 100vh;
  display: flex;
  align-items: center;
}

.left-container {
  flex: 1;
}

.left-content {
  padding-left: 3.5rem;
}

.left-content h1 {
  font-size: 2.8rem;
  font-weight: 900;
}

.left-content p {
  font-size: 19px;
  font-weight: 500;
  color: #002244;
}

.right-container {
  flex: 1;
  height: 100vh;
  padding-left: 50px;
  display: flex;
  align-items: center;
}

.formType {
  width: 60%;
  background: #7cb9e877;
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 1px 8px 8px #114f65bd;
}

.formType h2 {
  font-size: 1.8rem;
  text-align: center;
  padding-bottom: 2rem;
  color: #fff;
}

.formType input,
button {
  border: none;
  padding: 10px 15px;
  margin: 10px 0;
  border-radius: 20px;
  outline: none;
}

.formType input::placeholder,
button {
  font-family: "Wix Madefor Display", sans-serif;
  font-size: 15px;
}

.btn {
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
}

.links {
  display: flex;
  flex-direction: column;
}

.links a {
  margin-top: 10px;
  color: #002244;
  font-size: 15px;
}
